
/* 顶部搜索 */
.search-input-box-box{
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input-box{
    width: 95%;
    height: 65%;
    position: relative;
    border-radius: .8rem;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.search-input-box-input{
    font-size: .373333rem;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}
.search-input-box-img{
    height: 100%;
    transform: scale(.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: .266667rem;
}


.group-modal{
    width: 100%;
    /* height: 100%; */
    position: fixed;
    z-index: 1;
}
.input-box{
    width: 95%;
    margin: 5px auto;
    background-color: #F4F8F9;
}


/* ------------------- 选项 弹窗 -------------------- */
.option-type{
    background-color: #fff;
    line-height: 50px;
    text-align: center;
    /* position: absolute;
    top: 103px; */
}

.dialog-box{
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 0;
}

.selected{
    font-size: .373333rem;
    line-height: 1rem;
    display: flex;
}
/* selected-date */
.selected-date{
    padding: 0 .533333rem;
    margin: .533333rem 0;
    display: flex;
    justify-content: space-between;
}
.selected-date-input{
    text-align: center;
    height: .746667rem;
    border: 1px solid #ccc;
    border-radius: .106667rem;
    background-color: #fff;
}
/* selected-dep_city */
.selected-dep_city{
    text-align: center;
    /* padding: 0 .32rem; */
    margin: .426667rem;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.dep_city-item{
    width: 22%;
    font-size: .373333rem;
    line-height: .746667rem;
    border-radius: .106667rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: .213333rem 1.5%;
}
.active-dep_city-item{
    border: 1px solid #6FC5D8;
    background-color: #6FC5D8;
}
/*  */
.select-item{
    -ms-flex: 1 1;
    flex: 1 1;
    height: 10rem;
    overflow: auto;
}
.select-item-main{
}
.active-select-item{
    color: #6FC5D8;
}
.select-nav{
    background-color: #fff
}
.select-big{
    background-color: #fbfbfb;
}
.select-sma{
    background-color: #f9f9f9;
}

.line-height-3rem{
    line-height: 1.28rem;
}
/* 功能按钮 重置 确定 box */
.options-btn{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .266667rem .32rem;
    border-top: 1px solid #f1f1f1;
}
.options-reset{
    width: 48%;
    line-height: .853333rem;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: .106667rem;
}
.options-submit{
    width: 48%;
    line-height: .853333rem;
    color: #fff;
    background-color: #AED283;
    border: 1px solid #AED283;
    border-radius: .106667rem;
}

/* ---------------------- 产品 列表 ----------------------- */
.pro-list{
    padding: 50px 10px 0px 10px;
    box-sizing: border-box;
}
.pro-item{
    height:2.8rem;
    background-color: #fff;
    border-radius: .213333rem;
    padding: .213333rem;
    margin: .32rem 0;
    display: flex;
}


.pro-item-left{
    width: 37.5%;
    height: 100%;
    border-radius: .213333rem;
    overflow: hidden;
    position: relative;
    margin-right: .32rem;
}
.pro-item-pro_id{
    font-size: .32rem;
    line-height: .853333rem;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.8));
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
/* 右侧 */
.pro-item-right{
    width: 60%;
    padding-right: .266667rem;
    flex-grow: 1;
}
.pro-item-name{
    width: 100%;
    font-size: .373333rem;
    line-height: .426667rem;
    max-height: .853333rem;
    overflow: hidden;
}
.pro-item-date{
    font-size: .32rem;
    margin: .16rem 0;
    color: #666;
}
.pro-item-dep_city{
    font-size: .32rem;
    margin: .16rem 0;
    color: #666;
}
.pro-item-price{

}
.img-hot1{
    width: 1.706667rem;
    height: .506667rem;
}
