
/* 客户信息 ---(其实这个是所有model-box的通用属性) */
.model-box{
    background-color: #fff;
    margin-top: .266667rem;
    box-shadow: 6px 1px 3px rgba(0,0,0,.1);
}
.box-title{
    font-size: .373333rem;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 0 .426667rem;
    display: flex;
    justify-content: space-between;
}
.box-title-text{
    
}
.box-title-operate{
    font-size: .373333rem;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.box-title-operate-item{
    line-height: .533333rem;
    color: #999;
    border: 1px solid #999;
    border-radius: .106667rem;
    margin-left: .426667rem;
    padding: 1px 5px;
}
.model-main{

}
.model-main-item-box{

}
.model-main-item{
    font-size: .32rem;
    height: 1rem;
    line-height: 1rem;
    border-top: 1px solid #F4F8F8;
    box-sizing: initial;
    padding: 0 .533333rem 0 .426667rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}
.model-main-item > span{
    font-size: .373333rem;
    color: #999;
    padding-right: .266667rem;
    display: inline-block;
}
.model-main-item > span > span{
    color: #000;
}
.model-main-item > input{
    height: 90%;
    font-size: .373333rem;
    border: none;
    margin-left: .16rem;
}
.model-main-item > i{
    width: .64rem;
    height: .64rem;
    background: url(/img/next1.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: .266667rem;
    top: .18rem;
    bottom: .18rem;
}
.model-main-item > strong{
    flex: 1;
    font-weight: 100;
    font-size: .373333rem;
    color: #999;
    display: inline-block;
}
.model-main-item  e{
    font-size: .373333rem;
    font-style: normal;
    color: #000;
    padding-left: .133333rem;
    display: inline-block;
}

/* ---------------------------------------- 底部 footer ----------------------------------- */
/* ---------------------------------------- 底部 footer ----------------------------------- */
/* ---------------------------------------- 底部 footer ----------------------------------- */
.box-shadow-top{
    box-shadow: 4px 5px 19px rgba(0,0,0,.5);
}
.order-edit-footer{
    height: 1.306667rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    display: flex;
}
.order-edit-footer > div{
    flex: 1;
}
.order-edit-footer-box{
    font-size: 0;
}
.order-edit-footer > div:nth-child(-n+2){
    padding: .106667rem 0;
}
.order-edit-footer > div > img{
    width: .693333rem;
    height: .693333rem;
    display: block;
    margin: 0 auto;
}
.order-edit-footer > div > span{
    font-size: .32rem;
    line-height: .32rem;
    color: #333;
}
.order-edit-footer > div:nth-last-child(-n+2){
    line-height: 1.306667rem;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}

.order-edit-footer-save{
    font-size: .373333rem;
    background-color: #88D6E8;
}

.order-edit-footer-submit{
    font-size: .373333rem;
    background-color: #6FC5D8;
}

/*  */
.cell-right span{
    height: 100%;
    padding-right: .64rem;
    display: inline-block;
}

/* ================================== 黑名单 ========================================= */
/* 黑名单提示 */
.BlockPrompt{
    padding: .32rem;
}
.BlockPrompt-title{
    line-height: 1.066667rem;
    text-align: center;
}
.BlockPrompt-input{
    font-size: .373333rem;
    text-indent: 2em;
}
.BlockPrompt-btn{
    margin-top: .426667rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.BlockPrompt-btn-submit{
    width: 40%;
    height: .853333rem;
    line-height: .853333rem;
    border-radius: 4px;
    background: #6FC5D8;
    color: #fff;
}
.BlockPrompt-btn-close{
    width: 40%;
    height: .853333rem;
    line-height: .853333rem;
    border-radius: 4px;
    background: #6FC5D8;
    color: #fff;    
}
/* 黑名单列表 */
.Blacklist{
    width: 8.533333rem;
    max-height: 13.333333rem;
    min-height: 11.866667rem;
    padding: .32rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.Blacklist-title{
    font-weight: 500;
    line-height: 1.066667rem;
    text-align: center;
}
.Blacklist-list-box{
    font-size: .373333rem;
    line-height: .64rem;
    color: #666;
    max-height: 10.613333rem;
    overflow: auto;
}
.Blacklist-list-item{
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: .32rem;
    margin: 8px;
    background: rgba(0,0,0,.04);
}
.Blacklist-list-item-top{
    display: flex;
    justify-content: space-between;
}
.Blacklist-list-item-top-photo{
    width: 2.666667rem;
    height: 3.2rem;
}
.Blacklist-list-cell{

}
.Blacklist-list-cell-left{
    width: 1.866667rem;
    display: inline-block;
}
.Blacklist-list-cell-right{
    color: #333;
}
.Blacklist-list-cell-top{
    width: 100%;
    display: block;
}
.Blacklist-list-cell-btm{
    color: #333;
    text-indent: 2em;
    line-height: 20px;
    max-height: 60px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.Blacklist-btn{
    width: 25%;
    height: .96rem;
    line-height: .96rem;
    color: #fff;
    text-align: center;
    background: #6FC5D8;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: .16rem;
    /* position: absolute;
    left: 37.5%;
    bottom: 20px; */
}