/* 类型选择 */
.order-state{
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    display: flex;
    position: fixed;
    z-index: 1;
}
.order-state-item{
    font-size: .373333rem;
    flex: 1;
    transition: all .3s;
}
.cur-order-state{
    font-size: .373333rem;
    flex: 1;
    color: #6FC5D8;
    border-bottom: 2px solid #6FC5D8;
}

/* 订单 状态 的不同状态样式 */
.active-order-state1{
    color: aqua;
}
.active-order-state2{
    color: hotpink;
}
.active-order-state3{
    color: gold;
}
.active-order-state4{
    color: green;
}
.active-order-state5{
    color: tomato;
}

/* 订单list */

.order-list{
    font-size: .32rem;
    padding-top: 1.2rem;
    box-sizing: border-box;
}

.order-item{
    background-color: #fff;
    margin: .266667rem 0;
}

.order-number{
    height: 1.173333rem;
    line-height: 1.173333rem;
    padding: 0 .4rem;
    display: flex;
    justify-content: space-between;
}

.order-main{
    display: flex;
}

.order-detail{
    text-align: left;
}
.order-detail-item{
    line-height: 1rem;
    border-bottom: 2px solid #F5F9F9;
    padding: 0 0 0 .853333rem;
    display: flex;
    justify-content: space-between;
}
.order-detail-item div{
    width: 33%;
}

.order-btn{
    font-size: .346667rem;
    height: 1.2rem;
    padding: .08rem .426667rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-btn-item{
    width: 1.52rem;
    height: .746667rem;
    text-align: center;
    border: 1px solid #E6E6E6;
    border-radius: .106667rem;
    background-color: #fff;
}
.order-btn-item:last-child{
    color: #6FC5D8;
    border: 1px solid #6FC5D8;
}




/* --------------------------- 录入游客列表-- enter-tour-list ------------------------------- */
.enter-tour-list-btn{
    padding: 1.706667rem .426667rem 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.enter-tour-list-btn-default{
    width: 4.266667rem;
    height: .96rem;
    line-height: .96rem;
    color: #6FC5D8;
    border: 1px solid #6FC5D8;
    border-radius: .08rem;
    background-color: #fff;
    box-sizing: border-box;
}
.enter-tour-list-btn-submit{
    width: 4.266667rem;
    height: .96rem;
    line-height: .96rem;
    color: #fff;
    background-color: #6FC5D8;
    border: 1px solid #6FC5D8;
    border-radius: .08rem;
    box-sizing: border-box;
}


/* --------------------------  添加游客 弹窗  --------------------------------- */
.tourist-modal{
    padding: 3.2rem .64rem 0 .64rem;
    background-color: rgba(0,0,0, .4);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.tourist-popup{
    font-size: .32rem;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    border-radius: .16rem;
    background-color: #fff;
    padding-top: .213333rem;
}
.tourist-popup-title{
    height: 1.173333rem;
    line-height: 1.173333rem;
}
.tourist-popup-info-item{
    height: 1.173333rem;
    line-height: 1.173333rem;
    padding: 0 .64rem 0 1.146667rem;
    display: flex;
}
.tourist-popup-info-item-left{
    color: #666;
    margin-right: .64rem;
}
.tourist-popup-info-item-right{
    color: #333;
}
.tourist-popup-btn{
    font-size: .373333rem;
    width: 3.2rem;
    height: .96rem;    
    line-height: .96rem;
    color: #fff;
    border-radius: .8rem;
    background-color: #6FC5D8;
    margin: .533333rem 0 .64rem;
    display: inline-block;
}



/* ---------------------------------  新增客户页面  ------------------------------------- */
.add-cstm-left{
    width: 1.706667rem;
    box-sizing: border-box;
}
.add-cstm-right{
    width: auto;
    box-sizing: border-box;
    flex: 1;
}

/* ---------------------------------  订单选择客户  ------------------------------------- */
.select-cstm{
    font-size: .373333rem;
    background-color: #fff;
    margin-bottom: .32rem;
}
.color-999{
    color: #999 !important;
}

/* ---------------------------------  录入名单应转明细  ------------------------------------- */
.order-set-detail-modal-over{
    max-height: 10.666667rem;
    overflow-y: auto;
    padding: .533333rem .32rem;
}
.order-set-detail-modal-cell {
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 4px;
}
.active-order-set-detail-modal-cell{
    border: 1px solid #6FC5D8;
}
.order-set-detail-modal-cell-item{
    line-height: .533333rem;
}

/* ----------------------------  占位页面  ------------------------------ */
.people-num-box{
    display: flex;
}
.people-num{
    width: 40%;
    height: 100% !important;
}
.plus-minus{
    font-size: .64rem;
    flex: 1;
    box-sizing: border-box;
    padding: 0 .426667rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}