
/* 底部footer */
.order-check-footer{
    font-size: .373333rem;
    text-align: center;
    padding: 0% .426667rem;
    margin: 1.066667rem 0 1.2rem 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-check-footer-btn-default{
    width: 4.266667rem;
    height: .96rem;
    line-height: .96rem;
    color: #6FC5D8;
    background: url(/img/gys.png) no-repeat 16px center #fff;
    background-size: .533333rem .533333rem;
    border: 1px solid #6FC5D8;
    border-radius: .08rem;
}

.order-check-footer-btn-submit{
    width: 4.266667rem;
    height: .96rem;
    line-height: .96rem;
    color: #fff;
    background: url(/img/zs.png) no-repeat 16px center #fff;
    background-size: .533333rem .533333rem;
    background-color :#6FC5D8;
    border-radius: .08rem;
}