

/* -------------------------- banner下 产品信息  ------------------------------- */
.pro-header-info{
    background-color: #fff;
    padding: .48rem 0;
    overflow: hidden;
}
.pro-name{
    width: 100%;
    line-height: .64rem;
    max-height: 1.28rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
    padding: 0 .32rem 0 .426667rem;
}
.pro-price{
    line-height: 1.066667rem;
    padding: 0 .32rem 0 .426667rem;
    display: flex;
    justify-content: space-between;
}
.pro-price-zk_price{
    font-size: .533333rem;
    color: #D0021B;
    font-weight: bold;
}
.pro-price-dep_city{
    font-size: .32rem;
    color: #666;
}
.pro-sale{
    font-size: .32rem;
    padding: 0 .32rem;
    display: flex;
    justify-content: space-between;
}
.pro-sale-price{
    color: #fff;
    line-height: .32rem;
    border-radius: .16rem;
    background: linear-gradient(to right, #FF654F , #F5B955);
    padding: .106667rem .213333rem;
}
.pro-sale-supplier{
    color: #666;
}

.swiper-ctlr{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 4.533333rem;
}
/* -------------------------- 团期日历  ------------------------------- */






/* -------------------------- 行程亮点  ------------------------------- */

.tour-highlights{
    background-color: #fff;
    padding: .266667rem 0 .533333rem 0;
    margin-top: .32rem;
}
.tour-highlights-title{
    line-height: .853333rem;
    padding: 0 .32rem;
}
.tour-highlights-item{
    font-size: .32rem;
    padding: 0 .533333rem;
    margin: .213333rem 0;
}




/* -------------------------- tab 信息  ------------------------------- */
/* tab title */
.pro-tab{
    margin-top: .32rem;
    background-color: #fff;
}
.pro-tab-title{
    height: 1.173333rem;
    line-height: 1.173333rem;
    text-align: center;
    border-bottom: 1px solid #F4F8F9; 
    padding: 0 .8rem;
    display: flex;
    justify-content: space-between;
}
.pro-tab-title-item{
    box-sizing: border-box;
}
.cur-pro-tab{
    font-weight: bold;
    border-bottom: 2px solid #6FC5D8;
}
/* -----------------------tab main 之 行程详情----------------------*/
.pro-tab-main-details{
    width: 100%;
    padding: 0 .32rem 0 .8rem;
    margin-top: .266667rem;
    box-sizing: border-box;
}
.pro-tab-main-details-pad-left{
    width: 100%;
    padding-left: 7.5%;
    border-left: 2px dashed #ccc;
    box-sizing: border-box;
}
.details-every-day{

}
.details-every-day > div{
    position: relative;
}
.every-day-title{
    font-size: .4rem;
    line-height: .64rem;
    padding: .32rem 0;
    border-bottom: 1px solid #F4F8F9;
}

/* 游览 */
.every-day-visit{
    font-size: .32rem;
    line-height: .48rem;
    padding: .32rem 0;
    border-bottom: 1px solid #F4F8F9;
}
/* 三餐 */
.every-day-dining{
    padding: .32rem 0;
    border-bottom: 1px solid #F4F8F9;
}
.every-day-dining-title{
    font-size: .4rem;
    margin-bottom: .133333rem;
    display: inline-block;
}
.meal-box-text{
    font-size: .32rem;
    line-height: .48rem;
    margin-right: .266667rem;
}
.meal-box-img{
    width: .373333rem;
    height: .373333rem;
    vertical-align: text-top;
}
/* 住宿 */
.every-day-hotel{
    font-size: .4rem;
    padding: .32rem 0;
    border-bottom: 1px solid #F4F8F9;
}
/* 交通 */
.every-day-traffic{
    font-size: .4rem;
    padding: .32rem 0;
    border-bottom: 1px solid #F4F8F9;
}
/* 定位 */
.how-days{
    font-weight: bold;
    position: fixed;
    left: -0.96rem;
    top: .32rem;
}
.how-days-img{
    width: .533333rem;
    height: .533333rem;
    position: absolute;
}
/* -------------------tab - 费用说明--------------------- */
.pro-tab-main-explain{
    padding: .32rem 0 .4rem 0;
}
.pro-tab-main-fee-includes{

}
.pro-tab-main-fee-title{
    font-size: .4rem;
    line-height: .8rem;
    padding: 0 .666667rem;
}
.pro-tab-main-fee-text{
    font-size: .32rem;
    line-height: .48rem;
    padding: 0 .64rem 0 .96rem;
    box-sizing: border-box;
}
/* footer */
.pro-footer-zw{
    font-size: .373333rem;
    line-height: 1.173333rem;
    background-color: #F78A16;
}

.pro-footer-sb{
    font-size: .373333rem;
    line-height: 1.173333rem;
    background-color: #D0021B;
}

/* --------------------------  zs-modal 总社弹窗  --------------------------------- */
.zs-popup{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: .16rem;
    background-color: #fff;
}
.zs-popup-avatar{
    width: 1.493333rem;
    height: 1.493333rem;
    margin: .533333rem 0 .32rem;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.zs-popup-avatar > img{
    width: 1.493333rem;
    height: 1.493333rem;
}
.zs-popup-info{
    font-size: .32rem;
    line-height: .56rem;
    text-align: left;
    display: inline-block;
}
.zs-popup-btn{
    font-size: .373333rem;
    width: 3.2rem;
    height: .96rem;    
    line-height: .96rem;
    border-radius: .8rem;
    background-color: #6FC5D8;
    margin: .533333rem 0 .64rem;
    display: inline-block;
}
.zs-popup-btn span{
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}


/* ---------------------------- 日历 -------------------------------------- */
/* 日历面板  */

.calendar {
    text-align: center;
    background-color: #fff;
  }
  
  .calendar-panel {
    line-height: .853333rem;
    padding-top: .426667rem;
    padding-left: .426667rem;
    padding-right: .426667rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .prevImg, .nextImg {
    width: .853333rem;
    height: .853333rem;
  }
  .prevImg > img, .nextImg > img{
    width: .853333rem;
    height: .853333rem;
  }
  

  
  .time {
  }
  .time-other{
      font-size: .373333rem;
      color: #999;
  }
  
  .calendar-header {
    font-size: .32rem;
    line-height: 1.493333rem;
    display: flex;
    justify-content: space-between;
  }
  
  .calendar-header div {
      flex: 1;
    /* width: 75rpx; */
    text-align: center;
  }
  
  .calendar-body {
    width: 100%;
    margin-top: 16rpx;
    padding-bottom: 16rpx;
  }
  
  .calender-body-date-week {
    height: 1.92rem;
    display: flex;
    justify-content: space-between;
  }
  .calender-body-date-week-item{
      border: 1px solid #fff;
      box-sizing: border-box;
      flex: 1;
      position: relative;
  }
  .week-item-date{
      width: .693333rem;
      height: .693333rem;
      font-size: .373333rem;
      line-height: .693333rem;
      border-radius: 50%;
      margin-top: .213333rem;
      display: inline-block;
  }
  .active-week-item-date{
    color: #fff;
    background-color: #6FC5D8;
  }

  /* 非当前月  非当前月不显示团期 */
  .not-cur-month{
    color: #ccc;
    background-color: #fff;
  }
  /*  */
  .main-seat-surplus{
    font-size: .266667rem;
    color: #6FC5D8;
    display: inline-block;
    margin: .266667rem 0 .106667rem 0;
  }
  /* .active-main-seat-surplus{
    color: #6FC5D8;
  } */
  .main-zk-price{
    font-size: .266667rem;
    color: #db3737;
  }
  /* .active-main-zk-price{
    color: #db3737;
  } */
  /* 存在团期,才能点 */
.exist{
    font-size: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: .693333rem;
}
.active-exist{
    border: 1px solid #A7DAE5;
    border-radius: 3px;
}
  /*  */
  .date {
    width: 100rpx;
    height: 80rpx;
    text-align: center;
    position: relative;
    line-height:56rpx;
    border-radius:10rpx;
    padding-bottom: 5rpx;
  }
  
  .date-money {
    width: 100%;
    font-size: 20rpx;
    color: #38b2c0;
    text-align: center;
    padding-top: 35rpx;
    position: absolute;
    top: 0;
    left: 0;
  } 
  
  .stage {
    width: 100%;
    height: 100%;
    font-size: 20rpx;
    color: #38b2c0;
    box-sizing: border-box;
    padding-top: 50%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .test {
    
  }
  
  /* 其他月份 样式  */
  
  .other-month {
    color: #ccc;
    z-index: 1;
  }
  
  /* active Day  */
  
  .avtive-date {
    color: #fff;
    background-color:#66ccdd;
  }
  .active-money{
    color: #fff;
  }
  

  /* --------------------------------- PDF 控制器 菜单------------------------------------------- */
  .pdf-ctrl{
    font-size: 1.066667rem;
    line-height: 1.146667rem;

    color: rgba(0,0,0,0.45);
    text-align: center;
    padding: .426667rem .64rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pdf-ctrl-item-show{
    animation: menu_show 1s 1;
    transform: scale(1)
  }
  .pdf-ctrl-item-hide{
    animation: menu_hide 1s 1;
    transform: scale(0)
  }
  .pdf-ctrl-item-page{
      font-size: .373333rem;
      animation: menu_show 1ms 1;
      transform: scale(1)
  }
  .pdf-ctrl-item-page-box{
      font-size: .426667rem;
      line-height: .533333rem;
      color: #fff;
      border: 1px solid rgba(111,197,216,.7);
      background-color: rgba(111,197,216,.5);
      box-sizing: border-box;
      padding: 0 .16rem;
  }

  @keyframes menu_show
    {
        from {transform: scale(0)}
        80%{transform: scale(1.2)}
        to {transform: scale(1)}
    }
@keyframes menu_hide
    {
        from {transform: scale(1)}
        20%{transform: scale(1.2)}
        to {transform: scale(0)}
    }

  /* -----------------------PDF-box  canvas盒子 样式--------------------------- */
  .PDF-view{
    margin-top: .32rem;
    margin-bottom: 1.493333rem;
  }

  .pdf-canvas{
    z-index: 10;
  }