body {
  font-size: .426667rem;
}

.dialog-mask{
  opacity: 1 !important;
}

/* ------------------------------- progress ------------------------------------- */

.progress-box{
    width: 2.666667rem;
    height: 2.666667rem;
    color: #fff;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.65);
    border-radius: .16rem;
    margin: auto;
    padding-top: .986667rem;
}
/* 常用 class name  */


.flex{
  display: flex;
}
.flex-j-sb{
  display: flex;
  justify-content: space-between;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-sb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide{
  display: none !important;
}
.img-size{
  width: 100%;
  height: 100%;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.text-overflow-2{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 

  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */

}
.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flex-j-sb {
  display: flex;
  justify-content: space-between;
}
.posi-rela{
  position: relative;
}
.posi-ab{
  position: absolute;
}
.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.over-hide {
  overflow: hidden;
}
.opacity-0{
  opacity: 0;
}
.w0{
  width: 0;
}
.h0{
  height: 0;
}
.m-10{
  margin:10px;
}
textarea{
  width: 100%;
  border: none;
  resize: none;
}
textarea:disabled{
  background-color: #fff;
}
input{
  border: none;
}
input:disabled{
  background-color: #fff;
}
select{
  border: none;
}
option{
  border: 1px solid #ccc;
  box-shadow: 0;
}
pre{
  white-space: pre-wrap;
}
ul,ol,li{
  padding: 0;
  margin: 0;
}
li{list-style-type:none;}

strong{
  font-weight: 100;
}

.btn-disabled{
  color: #666 !important;
  border-color: #ccc !important;
  background-color: #ccc !important;
}

/* 分享 样式 */
.share-box{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.share-cancel{
  height: 74.663%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.share{
  height: 25.337%;
  color: #000;
  background-color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.share-options{
  height: 3.2rem;
  padding: .586667rem 1.92rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.wx-friends{

}
.wx-friends img, .wx-friends-circle img {
  width: 1.493333rem;
  height: 1.493333rem;
}
.wx-friends-circle{

}

.share-options-cancel{
  height: 1.28rem;
  line-height: 1.28rem;
  border-top: 1px solid #ccc;
}

.lose{
  color: #ccc;
}


.after-list{
  margin: .426667rem auto;
}

/*  */
.posi-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

button[disabled]{
  background-color: #fff !important;
  color: #ccc !important;
  border: #e0e0e0 1px solid !important;
}

.ver-sub{
  vertical-align: sub;
}

.over-x-auto{
  overflow-x: auto !important;
}
.over-y-auto{
  overflow-y: auto !important;
}

/* tabbar */ 
.tabbar-img{
  width:  100%;
  height: 100%;
  display: inline-block;
}
.tabbar-home-img{
  background: url("/img/tabbar_icon/home.png") no-repeat center center;
  background-size: .64rem .64rem;
}
.active-tabbar-home-img{
  background: url("/img/tabbar_icon/home-active.png") no-repeat center center;
  background-size: .64rem .64rem;
}

.tabbar-order-img{
  background: url("/img/tabbar_icon/order.png") no-repeat center center;
  background-size: .64rem .64rem;
}
.active-tabbar-order-img{
  background: url("/img/tabbar_icon/order-active.png") no-repeat center center;
  background-size: .64rem .64rem;
}

.tabbar-search-img{
  background: url("/img/tabbar_icon/search.png") no-repeat center center;
  background-size: .64rem .64rem;
}
.active-tabbar-search-img{
  background: url("/img/tabbar_icon/search-active.png") no-repeat center center;
  background-size: .64rem .64rem;
}

.tabbar-approval-img{
  background: url("/img/tabbar_icon/approval.png") no-repeat center center;
  background-size: .64rem .64rem;
}
.active-tabbar-approval-img{
  background: url("/img/tabbar_icon/approval-active.png") no-repeat center center;
  background-size: .64rem .64rem;
}

.tabbar-my-img{
  background: url("/img/tabbar_icon/my.png") no-repeat center center;
  background-size: .64rem .64rem;
}
.active-tabbar-my-img{
  background: url("/img/tabbar_icon/my-active.png") no-repeat center center;
  background-size: .64rem .64rem;
}








.tabbar-label{
  color: #666;
}
.active-tabbar-label{
  color: #000;
}